<p id="notice"><%= notice %></p>

<p>
  <strong>Ndefactura:</strong>
  <%= @ingresopedido.Ndefactura %>
</p>

<%= link_to 'Edit', edit_ingresopedido_path(@ingresopedido) %> |
<%= link_to 'Back', ingresopedidos_path %>
